html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #bdfe00;
  color: #160a63;
}
.width-wrap {
  max-width: 960px;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  margin-bottom: 3em;
  background-color: #70ffdf;
}
hr {
  max-width: 890px;
  min-width: 300px;
  width: 50vw;
  margin-top: 3em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 3px dotted yellow;
}
dt::after {
  content: ":";
}
h1,
h2,
h3 {
  color: #2f1da0;
}
a {
  color: #bdfe00;
}
header nav a {
  color: #6b9000;
  border-top: 4px solid rgba(186, 250, 0, 0);
  display: inline-block;
  margin-top: -4px;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}
::selection {
  background-color: #006c54;
  color: white;
}
header {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin-left: -2em;
  margin-right: -2em;
}
header nav {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-left: 2em;
  margin-right: 2em;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
}
header nav a:hover {
  border-top: 4px solid rgba(186, 250, 0, 1);
}
th,
td {
  padding: 0.3em 1em;
}
thead th,
tfoot th,
thead td,
tfoot td,
tbody th {
  background-color: rgba(0, 0, 0, 0.2);
}
td {
  background-color: rgba(0, 0, 0, 0.05);
}
tbody tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}
form label {
  display: block;
}
form li label {
  display: inline;
}
button[type="submit"] {
  border: none;
  padding: 1em 3em;
  background-color: #bdfe00;
  color: #006c54;
}
input:invalid {
  background-color: red;
}
