body {
  box-sizing: border-box;
  background-color:#BDFE00;
  color:#160A63;
}
.width-wrap {
  max-width: 960px;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  margin-bottom: 3em;
  background-color:#70FFDF;
}
hr {
  max-width: 890px;
  min-width: 300px;
  width: 50%;
  margin-top: 3em;
  margin-bottom: 2em;
  border-bottom: 3px dotted yellow;
}
dt::after {
  content: ":";
}
h1, h2, h3{
    color:#2F1DA0;
}
a {
    color:#BDFE00;
}
header nav a{
    color:#6B9000;
    border-top: 4px solid rgba(186,250,0,0);
    display: inline-block;
    margin-top: -5px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}
::selection{
    background-color:#006C54;
    color:white;
}
header{
    border-top: 4px solid rgba(0,0,0,0.1);
    margin-left: -2em;
    margin-right: -2em;
}
header nav{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    margin-right: 2em;
}
header nav ul{
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
}
header nav a:hover{
    border-top: 4px solid rgba(186,250,0,1);
}
th, td{
    padding: 0.3em 1em;
}
thead, tfoot, tbody th{
    background-color: rgba(0,0,0,0.2);
}
td{
    background-color: rgba(0,0,0,0.05);
}
tbody tr:nth-child(even){
    background-color: rgba(0,0,0,0.15);
}
form label{
    display: block;
}
form li label{
    display: inline;
}
button[type="submit"]{
    border: none;
    padding: 1em 3em;
    background-color: #BDFE00;
    color: #006C54;
}
input:invalid{
    background-color: red;
}